<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask App</title>
</head>

<body>
    <h1>Hello World!</h1>
    <button onclick="handleClick()">Create a room</button>
</body>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="UTF-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port)

    socket.on('connect', function() {
        console.log('Websocket connection established!');
    });

    socket.on('join_room', function(msg) {
        console.log(msg);
    });

    function handleClick() {
        console.log('Creating game...');
        socket.emit('create');
    }
</script>

</html>
